asgiref==3.11.1
black==26.1.0
click==8.5.0
coverage==7.13.3
Django==6.0.2
flake8==7.3.0
Flake8-pyproject==1.2.4
gunicorn==25.0.1
isort==7.0.0
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.1.1
pillow==12.1.0
platformdirs==4.12.2
pycodestyle==2.14.0
pyflakes==3.4.0
python-dotenv==1.2.1
pytokens==0.4.1
setuptools==80.10.2
sqlparse==0.5.5
whitenoise==6.11.0
